/* first page: image + search bar */

.search-container {
    width: 100%;
    position: relative;
    background-color:#d06f25 ;
}


.search-dogs {
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center 35%;
}

.search-bar {
    position: absolute;
    bottom: 45%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 600px;    
}

label {
    display: block;
    margin: 0 0 0.5em 0;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    
}

textarea {
    resize: none;
}

input, select, textarea{
    color: #d06f25;
    font-weight: bold;
}

.search-txt {
    flex-grow: 2;
    border:none;  
    padding: 1.7em 20em 1.7em 2em;
    border-radius: 20px;
    width: 100%;
    background-color:#EEDEA3;
    
}

::placeholder {
    color: #d06f25;
    font-weight: bold;
}

.btn-search {
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 0px;
    background-color:  #d06f25;   
    transition: 500ms; 
      
}

.btn-search:hover {
    background-color:#d04f25;
    cursor: pointer;
}


.button-image {
    width: 6em;
    height: 4.3em;
}


/* end of search-bar --> second main div (search result -----------------------------------------------------------------------------------------)*/

.wrapper {
    background-color: #d06f25;
    display: none; 
}

.wrapper-show {
    display: block;
}



.container {
    width: 960px;
    margin: 0 auto;  
    background-color: #EEDEA3;
    border: 1px black solid;
   
    
}

.title {
    text-align: center;
    font-weight: bold;
    padding: 2em;
}

.userMessage {
    font-size: 1.5em;
    color: white;
    padding: 0.5em;

}

.cityName {
    color: black;
    font-weight: bold;
    font-size: 2.5em;
}

/* start of the profile list */

.adestradorProfile {
    border-bottom: 0.5px black solid;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* left-hand side of the profile interface (profile picture + feedbacks) */

.left-hand-side {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 1em;
    
}

.div-imagem {
    text-align: center;
    width: 100%;
    
}

.profile-image {
    max-width:60%;
    align-self: center;
    margin-bottom: 0.6em; 
    border-radius: 50% 
}



.estrelas {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 0.6em;
}
.estrela {
    width: 40%;
}

.avaliacao {
    font-size: 0.7em;
    font-weight: bold;
    color: #999999;
    text-align: center;
    padding-bottom: 0.6em;
}


/* start of the central part of the profile (user name, user @ -- presumably tweeter -- and a quick description) */

.center-profile {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly

}

.nome {
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.5em;
}

.twitter {
    font-weight: bold;
    
}

.description {
    color: #999999;
    font-weight: bold;
}

/* start of the right-hand-side, with the contact button */

.right-hand-side {
    width: 25%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.contact-button {
    padding: 1.3em 4em;
    border-radius: 30px;
    border: none;
    background-color: #d06f25;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 700ms;
}

.contact-button:hover {
    padding: 1.4em 4em;
    font-size: 1em;
}


/* start of the last section */

.div-final {
    width: 960px;
    height: 250px;
    margin: 0 auto; 
    margin-top: 4em;
    display: flex;
}


.card-left-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-right-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.card-left {
    width: 80%;
    background-color: #745E46;
    border-radius: 25px;
    padding: 1em;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-right {
    width: 80%;
    background-color: #745E46;
    border-radius: 25px;
    padding: 1em;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.sign-up {
    
    color: white;
    
}

.sign-up:hover {
    color: #d06f25
}



